
@mixin centering()
    margin-left: 50%
    transform: translate(-50%)
        
    
.memory-test-cont
    position: relative
    width: 100%
.difficulty-form
    @include centering()
    background-color: gray
    width: 250px
    margin-top: 20px
    margin-bottom:  20px
    label
        font-size: 1.2rem
    select
        width: 100%
        font-size: 1.2rem
.timer
    padding: 5px
    font-size: 3rem
    color: rgb(0, 177, 15)
    font-weight: 800
    width: fit-content
    @include centering()
    background-color: rgb(201, 201, 201)
    border-radius: 10px
    margin-bottom:  20px
.start-btn
    font-size: 1.5rem
    background-color: rgb(233, 74, 0)
    padding: 5px 10px
    border-radius: 5px
    width: fit-content
    margin-bottom: 10px
    @include centering()
    cursor: pointer
    transition: 0.2s
    &:hover
        box-shadow: 5px 5px 5px rgb(145, 30, 9)


.images-grid
    // display: none
    width: 41vw
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 
    gap:0.5rem
    margin-left: 50%
    transform: translate(-50%)

    .img-item
        position: relative
        width: 100%
        // transform: rotateX(180deg)
        .memory-test-img
            position: relative
            width: 100%
        .back-card
            position: absolute
            top: 0
            width: 100%
            height: 100%
            background-color: white
            z-index: 1
@media ( max-width: 1500px )
    .images-grid
        // display: none
        width: 55vw
@media ( max-width: 1300px )
    .images-grid
        // display: none
        width: 60vw
@media ( max-width: 1100px )
    .images-grid
        // display: none
        width: 70vw
@media ( max-width: 900px )
    .images-grid
        // display: none
        width: 80vw
@media ( max-width: 400px )
    .images-grid
        // display: none
        width: 70vw