// intialiazing section 

$handFont:'Kalam', cursive
    
*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: $handFont
    letter-spacing: 0.1rem
::-webkit-scrollbar
        display: none
html
    width: 100vw
    overflow-x: hidden
body
    background-color: rgb(1, 1, 1)
    // background-image: url(./images/backgrounds/bw.webp)
    background-image: url(./images/backgrounds/bw.webp)
    background-size: cover !important
    background-attachment: fixed
    height: 100vh
    color: rgb(255, 255, 255)
    overflow-x: hidden
    max-width: 100vw
    &::after
        content: ""
        opacity: 0.5 !important
        top: 0
        left: 0
        bottom: 0
        right: 0
        position: absolute
        z-index: -1      
// global classes
.hide-D
    display: none
.App
    position: relative
    width: 100%
.cont
    position: relative
    width: 100%
.flex
    position: relative
    display: flex

.title
    width: 100%
    text-align: center
    padding-top: 20px    

a:link
    text-decoration: none
    color: rgb(255, 255, 255)

a:hover

    text-decoration: none
    color: rgb(255, 255, 255)

a:visited
    color: rgb(255, 255, 255)

a:active 
    text-decoration: none
    color: rgb(255, 255, 255)



@import Home/Home.sass
@import MouseAnimation/MouseAnimation.sass
@import ThemeMenu/themeMenu.sass
@import Menu/menu.sass
@import Spinner/spinner.sass
@import Projects/projects.sass
@import Projects/cards.sass
@import CV/cv.sass
@import Skills/skills.sass
@import Home/moon.sass
@import Home/Steve/steve.sass